:root {
    --main-color: #181c1b;
}

* {
    padding: 0;
    margin: 0;
}

header > ul  {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    list-style: none;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    box-sizing: border-box;
}

.category > a {
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.section-1 {
    height: calc(100vh - 60px);
}

.slideshow {
    position: absolute;
    height: calc(100vh - 60px);
    opacity: 0;
    width: 100%;
    transition: .4s all;
}

.slideshow > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.displayed {
    opacity: 1;
    z-index: 100;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.pc-services-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: repeat(2, 35vw);
    gap: 15px;
}

.pc-service {
    background-color: black;
    background-size: cover;
    margin: 5vh;
    transition: all .5s;
}

.pc-service:nth-child(1) {
    background-image: url("./images/data-recovery-service.jpg");
}
.pc-service:nth-child(2) {
    background-image: url("./images/liquid-damage.jpeg");
}
.pc-service:nth-child(3) {
    background-image: url("./images/pc-build-service.jpg");
}
.pc-service:nth-child(4) {
    background-image: url("./images/apple-devices.jpeg");
}

.pc-service:hover {
    transform: scale(1.1);
}

.section-3 {
    height: 80vh;
    background-image: url("./images/client-support.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.section-3-content {
    margin-top: 15vh;
}

.section-3-content > ul {
    margin-top: 12px;
    margin-bottom: 20px;
}

.section-3-content > ul > li {
    padding: 4px;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-3-content > ul > li::before {
    content: '';
    display: inline-block;
    background-image: url("./images/select.png");
    background-size: cover;
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.appointment {
    color: var(--main-color);
    background-color: white;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    border: none;
    transition: all .25s;
}

.appointment:hover {
    color: white;
    cursor: pointer;
    background-color: var(--main-color);
    border: 1px white solid;
}

.section-4 {
    color: white;
    background-color: var(--main-color);
    height: 500px;
}